@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@keyframes blink{
    0%{
        color:cadetblue;
    }
    25%{
        color:crimson;
    }
    50%{
        color:darkgoldenrod;
    }
    75%{
        color:darkmagenta;
    }
    100%{
        color: cadetblue;
    }
}

body{
    height:150vh;
}

*{
    margin:0;
    padding:0;
    font-family: "Poppins";
}

  .clip{
    height:100%;
    width:100%;
    clip-path: circle(53.2% at 81% 50%);
    background-image: linear-gradient(to left, #47636E,#C4ABD2);

    position:absolute;
    top:0;
    z-index: -1;

    background-image: url(/flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    
}  

.logo{
    margin-top:3rem;
    width:5rem;
}

.navbar{
    height:6vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    mix-blend-mode: overlay;

}

.navbar-links{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navbar-links a{
    text-decoration: none;
    margin:2rem;
}

.contact-btn{
    color:black;
    padding:15px;
    border-radius: 10px;
    border: none;
}

.main-content{
    display:flex;
    justify-content: center;
    align-items: center;
    height:94vh;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.first-column{
    flex:1;
    font-size: 3rem;
    height:100%;
    display:flex;
    letter-spacing: 2px;
    line-height: 10rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    mix-blend-mode: multiply;
}

.first-column h1{
    letter-spacing: 3rem;
    font-size:7rem;
}

.text-content{
    display:flex;
    text-align: center;
    justify-content: center;
}

.second-column{
    flex:1;
    align-items: center;
    transition: transform 1s; 
}

.second-column:hover{
    transform:translateY(-15px);
}

.second-column img{
    margin-left:25%;
    width:25%;
}

.secondary-content{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.text{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    width:50%;
    height:80%;
}

.text h1{
    text-align: start;
    font-size: 3rem;
    letter-spacing: 2px;
}

.text p{
    margin-top:50px;
    font-size: 1.1rem;
}

.about{
    height:50vh;
    border: cyan 5px solid;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#131B26;
    color:white;
}

.about-us{
    border: crimson 5px solid;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.what-we-do{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.secondary{
    color:white;
    background-color:#131B26;
}

.for-you h1{
    text-align: end;
}

.who-we-are h1{
    text-align: center;
}

.animation{
    animation: blink 10s infinite;
    -webkit-animation: blink 10s infinite;;
}

.third{
    height:25vh;
    background-color:#131B26;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.third a{
    color:white;
}

.message{
    position: absolute;
    bottom:20px;
    right:5px;
    width:60px;
}

.newsletter{

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.newsletter .input{
    padding:15px 70px;
    border-radius: 5px;
    border: none;
    text-align: center;
}


@media screen and (max-width:1024px){

    html{
        font-size:0.8rem;
    }

    .clip{
        display: none;
    }
    .main-content{
        color:black;
        
    }

    .second-column{
        display:none;
    }
}

@media screen and (max-width:812px) {

    .main-content .animation{
        font-size:90%;
    }

    .logo{
        width:8%;
    }
    .contact-btn{
        padding:10px 20px 10px 20px;
    }

    .secondary-content h1, p{
        font-size: 2rem;
    }

    .secondary-content p{
        font-size: 1rem;
    }

    .newsletter{
        width:300px;
        position:relative;
    }

    .message{
        position:absolute;
        top:10px;
    }
}

@media screen and (max-width:500px) {
    .main-content .animation{
        font-size:50%;
    }

    .main-content .first-column-text p{
        font-size:45%;
    }

    .text{
        text-align: center;
        height:100%;
    }

    .text-primary h1{
        text-align: center;
    }
    .for-you h1{
        text-align: center;
    }

    .footer{
        font-size:0.8rem;
    }

    .newsletter{
        width:70%;
    }

    .newsletter p{
        font-size: 1.5rem;
    }
}

@media screen and (max-height:800px) {

    .text h1{
        font-size: 18px;
    }
    .text p{
        font-size: 11px;
    }
    .newsletter{
        position:relative;
        width: 53%;
    }

    .newsletter img{
        position: absolute;
        top:20px;
        width:15%;
    }

    .newsletter p{
        margin-top:15px;
    }
}

@media screen and (max-width:360px) {

    .logo, .contact-btn{
        display:none;
    }

    .secondary-content h1{
        font-size:13px;
    }

    .text p{
        font-size:10px;
    }

    .first-column h1{
        align-items: center;
        letter-spacing: 25px;
        text-align: center;
    }

    .newsletter{
        width:200px;
    }

    .input{
        width:40%;
        font-size: 9px;
        position:relative;
    }

    .newsletter img{
        position:absolute;
        top:22px;
        left:180px;
        width:15%;
    }

    .newsletter p{
        font-size:12px;
    }
}


